<div id="fh5co-about" class="animate-box">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>A propos de moi</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<ul class="info">
					<li>
						<span class="first-block">Nom:</span>
						<span class="second-block">{{personalInfo[0].firstName}}
							{{personalInfo[0].lastName}}</span>
					</li>
					<li>
						{% if personalInfo[0].phone %}
							<span class="first-block">Telephone:</span>
							<span class="second-block">{{personalInfo[0].phone}}</span>
						</li>
					{% endif %}
					<li>
						{% if personalInfo[0].mail %}
							<span class="first-block">Email:</span>
							<span class="second-block">{{personalInfo[0].mail}}</span>
						</li>
					{% endif %}
					{% if personalInfo[0].website %}
						<li>
							<span class="first-block">Site Web:</span>
							<span class="second-block">{{personalInfo[0].website}}</span>
						</li>
					{% endif %}
					{% if personalInfo[0].address %}
						<li>
							<span class="first-block">Adresse:</span>
							<span class="second-block">{{personalInfo[0].address}}</span>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-8">
				<h2>Hello There!</h2>
				<p>{{personalInfo[0].resume}}</p>
				<ul class="fh5co-social-icons">
					{% if personalInfo[0].githubLink %}
						<li>
							<a href="{{personalInfo[0].githubLink}}">
								<i class="icon-github2"></i>
							</a>
						</li>
					{% endif %}
					{% if personalInfo[0].linkedinLink %}
						<li>
							<a href="{{personalInfo[0].linkedinLink}}">
								<i class="icon-linkedin2"></i>
							</a>
						</li>
					{% endif %}
					{% if personalInfo[0].maltLink %}
						<li>
							<a href="{{personalInfo[0].maltLink}}">
								<i class="icon-monitor"></i>
							</a>
						</li>
					{% endif %}
				</ul>
			</p>
		</div>
	</div>
</div></div>
