<div id="fh5co-resume" class="fh5co-bg-color">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>My Resume</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<ul class="timeline">
					<li class="timeline-heading text-center animate-box">
						<div>
							<h3>Work Experience</h3>
						</div>
					</li>
					{% set totalExperiences = workExperience|length %}
					{% set isFirstFormationEven = totalExperiences is even %}

					{% for experience in workExperience %}
						{% set isEven = loop.index is even %}

						<li class="animate-box {% if isEven %}timeline-unverted{% else %}timeline-inverted animate-box{% endif %}">
							<div class="timeline-badge">
								<i class="icon-suitcase"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{ experience.title }}</h3>
									<span class="company">{{ experience.companyName }}
										-
										{{ experience.location }}
										-
										{{ experience.yearStart }}
										-
										{{ experience.yearEnd }}</span>
								</div>
								<div class="timeline-body">
									<p>{{ experience.resume }}</p>
								</div>
							</div>
						</li>
					{% endfor %}

					<br>

					<li class="timeline-heading text-center animate-box">
						<div>
							<h3>Education</h3>
						</div>
					</li>

					{% set isFirstFormationLeft = (isFirstFormationEven and totalExperiences is odd) or (not isFirstFormationEven and totalExperiences is even) %}

					{% for item in formation %}
						{% set formationIndex = loop.index0 %}

						*
						{% set isLeftFormation = isFirstFormationLeft ? (formationIndex is odd) : (formationIndex is even) %}

						<li class="animate-box {% if isLeftFormation %}timeline-unverted{% else %}timeline-inverted animate-box{% endif %}">
							<div class="timeline-badge">
								<i class="icon-graduation-cap"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{ item.title }}</h3>
									<span class="company">{{ item.schoolName }}
										-
										{{ item.location }}
										-
										{{ item.yearStart }}
										-
										{{ item.yearEnd }}</span>
								</div>
								{% if item.resume %}
									<div class="timeline-body">
										<p>{{ item.resume }}</p>
									</div>
								{% endif %}
							</div>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</div>
</div>
